body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  /* background-color: #DFD0B8; */
background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100%;
  width: 100%;
  margin: 0;
}

.App{
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.Left{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Addtodo{
  width: 100%;
  height: 80px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Addtodo input{
  width: 40%;
  height: 40px;
  margin-right: 0;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
  background-color: #e0dcd6;
  color: #153448;
}

.Addtodo button{
  height: 42px;
  border: 2px solid #3C5B6F;
  margin-left: -35px;
  border-radius: 40px;
  width: 100px;
  background-color: #3C5B6F;
  color: white;
}

.pending-todo, .completed-todo{
  border-radius: 25px;
  border: 10px solid #153448;
  height: 70%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pending-todo h2, .completed-todo h2{
  height: fit-content;
  margin-bottom: 10px;
  color: #3C5B6F;
}

.completed-todo{
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
}

.todos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  min-height: 50px;
  max-height: fit-content;
  margin-top: 5px;
  padding: 0;
  background-color: #3C5B6F;
  color: white;
  border-radius: 20px;
}

.todos input{
  width: 20px;
  margin-left: 5px;

}

.info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  border: none;
  width: 70%;
  padding: 0 5px;
}

.info span{
  margin: 0;
  
}

.info-main{
  font-size: 16px;
  font-weight: normal;
  overflow-wrap: break-word;
}

.info-date{
  font-size: 8px;
  font-weight: light;
}

.todos button{
  background-color: whitesmoke;
  color: #3C5B6F;
  border-radius: 5px;
  border: none;
  margin-right: 15px;
  height: 20px;
}

.Right{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-right: solid;
  padding-top: 90px;
}

.Right .todos{
  width: 100%;
}
.Right .info{
  width: 90%;
}