button{
  cursor: pointer;
}
input:focus{
  outline: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 90vh;
  /* background-color: #DFD0B8; */
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  font-family: "Margarine", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100%;
  width: 100%;
  margin: 0;
}

.App{
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TodoList{
  margin: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  align-content: center;
  justify-items: center;
}

.Heading{
  grid-column: span 2;
  align-self: top;
  justify-self: center;
  margin-bottom: 0;
  margin-top: 0;
  color: #153448;
}
.Left{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 30px;
  margin-bottom: 20px;
}

.Addtodo{
  width: 100%;
  height: 80px;
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  margin-top: 0;
}

.Addtodo input{
  width: 300px;
  height: 40px;
  margin-right: -10px;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
  background: linear-gradient(135deg, #fff, #f5f5f5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color: #153448;
}


.Addtodo input::placeholder{
  font-family: "Margarine", sans-serif;
}

.Addtodo input[type='text']{
  font-family: "Margarine", sans-serif;
}

.Addtodo button{
  height: 42px;
  border: 2px solid #3C5B6F;
  margin-left: -35px;
  border-radius: 40px;
  width: 100px;
  background-color: #3C5B6F;
  color: white;
  font-family: "Margarine", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.pending-todo, .completed-todo{
  border-radius: 25px;
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  background: linear-gradient(135deg, #fff, #f5f5f5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  position: relative;
}
.pending-todo::-webkit-scrollbar, .completed-todo::-webkit-scrollbar {
  display: none;
}

.pending-todo h2, .completed-todo h2{
  height: fit-content;
  margin-bottom: 10px;
  color: #3C5B6F;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
}

.completed-todo{
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
}

.todos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  min-height: 50px;
  max-height: fit-content;
  margin-top: 5px;
  padding: 0;
  background-color: #3C5B6F;
  color: white;
  border-radius: 20px;
}

.completed-todo .todos{
  background-color: rgb(232, 228, 228);
  color: #3C5B6F;
  cursor: pointer;
}

.todos input{
  width: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.todos:-moz-drag-over{
  cursor: pointer;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  border: none;
  width: 70%;
  padding: 0 5px;
}

.info span{
  margin: 0;
  
}

.info-main{
  font-size: 16px;
  font-weight: normal;
  overflow-wrap: break-word;
}

.info-date{
  font-size: 8px;
  font-weight: light;
}

.todos button{
  background-color: whitesmoke;
  color: #3c5b6f;
  border-radius: 5px;
  border: none;
  margin-right: 15px;
  height: 20px;
  cursor: pointer;
}
.completed-todo button{
  background-color: #3c5b6f;
  color: rgb(232, 228, 228);
}

.Right{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* padding-top: 90px; */
  padding-left: 30px;
  margin-bottom: 20px;
}

.Right .todos{
  width: 100%;
}
.Right .info{
  width: 90%;
}

.logout{
  grid-column: span 2;
  height: 42px;
  border: 2px solid #3C5B6F;
  border-radius: 40px;
  width: 100px;
  background-color: #3C5B6F;
  color: white;
  font-family: "Margarine", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}


.Auth-container{
  width: 850px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-self: center;
}

.Auth-left{
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Auth-right{
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Auth-right input{
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
  background: linear-gradient(135deg, #fff, #f5f5f5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color: #153448;
}

.Auth-right button, .Auth-left button{
  height: 42px;
  border: 2px solid #3C5B6F;
  border-radius: 40px;
  width: 100px;
  background-color: #3C5B6F;
  color: white;
  font-family: "Margarine", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}


.Auth-right input::placeholder, .Auth-right input[type='text']{
  font-family: "Margarine", sans-serif;
}

.auth-pass-container{
  position: relative;
  width: fit-content;
  height: fit-content;
}
.auth-eye{
  width: 15px;
  height: 15px;
  position: absolute;
  right: 20px;
  bottom: 15px;
  z-index: 10;
  cursor: pointer;
}


@media (max-width: 768px) {
  .Auth-container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-self: center;
  }
  .TodoList{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Addtodo{
    margin-bottom: 10px;
  }
  .Right, .Left{
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
  }
  .Auth-left, .Auth-right{
    width: 100%;
  }
  .pending-todo, .completed-todo{
    width: 90%;
  }
}
